body {
margin: 200px;
background-color: #333;
color: #555;
font-size: 16px;
line-height: 4em;
margins: 0;
text-align: center;    

}

#navbar {
 margin-bottom: 400px;
    float: top;
    color: white;

}

#navbar {
   padding: 0;
   list-style: none;
   
}

#navbar li {
display:inline;
}

.container li:hover {
	color: red;
}

#section {
color: gray;

}

#section:hover {
	color: red;
}
