
 * {
    padding: 0;
    margin: 0;
    }


body {
    background-color: #333;
    color: #fff;
    margin-top: 50px;
    cursor: pointer;
    }



 .services {
    
     
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
     gap: 10px;
     
    }

    #title {
         opacity: 50%;
        
          
          text-align: center;
            
        padding: 0 0 30px 150px;
           
            }

        #title:hover {
            color: #ff0000;
            cursor: pointer;
            transition-duration: 0.2s;
           
            }

     /* .services h1 {
         opacity: 50%;
        margin-top: 20px;
          display: block;
          text-align: center;
           
            } */


    .service p {
        margin-top: 50x;
        font-size: 30px;
    
        } 

    .service p:hover {
        color: #0000ff;
        cursor: pointer;
        transition-duration: 0.6s;
        } 


    img {
        height: 50%;
        width: 50%;
        cursor: pointer;
        
        }

    img:hover {
        display: transiton;
        filter: invert(0.3);
        cursor: pointer;
        }


/*
   .services {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        text-align: center;
        }


        .services .service {
            padding: 30px;
            }

        .services .service:hover {
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
            }

    .services .service h2 {
            font-size: 24px;
            font-weight: 500;
            margin-top: 20px;
            color: #1b206e;
        }

    .services .service .icon img {
            max-width: 100px;
        }





*/